<p>math-calculator works!</p>
<div class="container card mt-2 mb-2 p-2">
    <!-- Login Card Row 1 -->
    <div class="row d-flex justify-content-center align-items-center">
        
        <!-- Login Card col 2 -->
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <!-- Login Form -->
            <form class="needs-validation" action="thankyou.html" novalidate name="theForm">
                <div
                    class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <h2>Calculator</h2>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="number" id="number1" class="form-control form-control-lg" [(ngModel)]="operand1" name="myOperand1">
                    <label class="form-label" for="number1">Operand 1</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="number2" class="form-control form-control-lg" [(ngModel)]="operand2" name="myOperand2">
                    <label class="form-label" for="number2">Operand 2</label>
                </div>
                <!-- Submit Button -->
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" class="btn btn-primary " (click)="onAddClicked()"
                        style="padding-left: 2.5rem; padding-right: 2.5rem; margin: 1rem;">+</button>
                    <button type="button" class="btn btn-primary " (click)="onSubtractClicked()"
                        style="padding-left: 2.5rem; padding-right: 2.5rem; margin: 1rem;">-</button>
                        <br>
                    <button type="button" class="btn btn-primary " (click)="onMultiplyClicked()"
                        style="padding-left: 2.5rem; padding-right: 2.5rem; margin: 1rem;">*</button>
                    <button type="button" class="btn btn-primary " (click)="onDivideClicked()"
                        style="padding-left: 2.5rem; padding-right: 2.5rem; margin: 1rem;">/</button>
                    <button type="button" class="btn btn-primary " (click)="onClearClicked()"
                        style="padding-left: 2.5rem; padding-right: 2.5rem; margin: 1rem;">Clear</button>
                </div>
                <div>
                    <p *ngIf="!answerIsAvailable"></p>
                    <p *ngIf="answerIsAvailable">The Answer is {{answer}}</p>
                </div>
            </form>
            <!-- End Login Form -->
        </div>
        <!-- End Login Card col 2 -->
    </div>
    <!-- End Login Card Row 1 -->
</div>