<p>word-counter works!</p>
<div class="container">
    <form ngNativeValidate (submit)="onFormSubmitted($event)" (keydown)="wordCounter()">
        <div class="form-group">
        <label for="wordInput">Enter in a sentence</label>
        <input name="wordInput" type="text" class="formcontrol" autofocus
        id="wordInput"
        placeholder="Jane Doe" required
        [(ngModel)]="wordCount" />
        </div>
        <input type="submit" value="Submit">
        <p>The word count is: {{words}}</p>
        </form>
</div>