<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>IDSN</th>
    </tr>
    <tr *ngFor="let book of books">

        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.ISBN}}</td>
        
    </tr>


</table>
