<select (change)="onCategoryChange($event)">
    <option value="">Select one...</option>

    <option *ngFor="let category of categories">
        {{category}}
    </option>
</select>

<table *ngIf="showActivities; else noActivities">
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Price</th>
    <tr *ngFor="let matchingActivity of matchingActivities">

        <td>{{matchingActivity.name}}</td>
        <td>{{matchingActivity.description}}</td>
        <td>{{matchingActivity.location}}</td>
        <td>{{matchingActivity.price}}</td>

    </tr>
</table>
<ng-template #noActivities>
    <p>{{message}}</p>
</ng-template>