<p>form-exercise works!</p>
<form (submit)="onSubmit()" name="myForm">
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="newContact.name" required minlength="4" #name="ngModel">
    <br>
    <label>Email:</label>
    <input type="text" name="email" [(ngModel)]="newContact.email" required #email="ngModel">
    <br>
    <label>Phone:</label>
    <input type="text" name="phone" [(ngModel)]="newContact.phone" required #phone="ngModel">
    <br>
    <button *ngIf="name.valid && email.valid && phone.valid" 
    type="submit">Save</button>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
            Name must be at least 4 characters long.
        </div>
    </div>
</form>